@charset "UTF-8";

/*  Typical device breakpoints
    320px - 480px: Mobile devices
    481px - 768px: Tablets
    769px - 1024px: Small laptops
    1025px - 1200px: Desktops
    1201px and up: Large desktops
*/
@media screen and (max-width: 767px) {
  section#login {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  section#login > div#img {
    width: 100vw;
    height: 40vh;
  }

  section#login > div#form {
    width: 100%;
    padding: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  section#login {
    width: 95%;
    height: 500px;
  }

  section#login > div#img {
    width: 45%;
  }

  section#login > div#form {
    width: 55%;
  }
}
@media screen and (min-width: 1200px) {
  section#login {
    width: 900px;
  }
}

